.cuex-editor-root {
  @apply flex-1 overflow-y-auto;
}
.cuex-editor-root[data-status="running"]:before,
.cuex-editor-root[data-status="paused"]:before,
.cuex-editor-root[data-status="running"]:after,
.cuex-editor-root[data-status="paused"]:after {
  display: block;
  content: " ";
  width: 100%;
  min-height: calc(100vh - 64px - 2.5rem);
}

.cuex-editor {
  @apply w-full h-full p-12;
}
.cuex-editor:before {
  @apply block text-white/40 pointer-events-none;
  content: attr(placeholder);
}
.cuex-editor:not(:empty)::before {
  @apply hidden;
}
.cuex-editor:focus {
  @apply outline-none;
}
.cuex-editor * {
  font-size: inherit !important;
  color: inherit !important;
  background-color: inherit !important;
}
